.login{
    display: flex;
    padding: 10px;
    border-radius: 8px;
    justify-content: flex-start;
    margin: 15px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, .125);
    box-shadow: 0 2px 0 rgba(90, 97, 105, .11), 0 4px 8px rgba(90, 97, 105, .12), 0 10px 10px rgba(90, 97, 105, .06), 0 7px 70px rgba(90, 97, 105, .1);
    width:700px;
    height: 450px;
    flex-direction: column;
    position: absolute;
    left: 50%;
    top:40%;
    transform: translate(-50%,-50%);
}

.login-header{
    text-align: center;
    width: 100%;
}

.btn-login{
    border: 1px solid transparent;
    border-radius: 10px;
    font-size: 15px;
    font-family: 'Calistoga', cursive;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #ffff;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border-color: black;
    width: 150px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    bottom :30%;
    transform: translate(-50%,-50%);
}
.btn-login:hover{
    border-color: black;
    background-color: #000000;
    color: #ffffff;
}