*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.Todo-List{
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 800px;
    border: 1px solid rgba(0, 0, 0, .125);
    box-shadow: 0 2px 0 rgba(90, 97, 105, .11), 0 4px 8px rgba(90, 97, 105, .12), 0 10px 10px rgba(90, 97, 105, .06), 0 7px 70px rgba(90, 97, 105, .1);
}
.todo-cardLis{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800px;
    height: 500px;
    border: 1px solid rgba(0, 0, 0, .125);
    box-shadow: 0 2px 0 rgba(90, 97, 105, .11), 0 4px 8px rgba(90, 97, 105, .12), 0 10px 10px rgba(90, 97, 105, .06), 0 7px 70px rgba(90, 97, 105, .1);
}

.btn-create{
    border: 1px solid transparent;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 2px;
    background-color: #6ed5c0;
    border-color: black;
    width: 150px;
    height: 40px;
    cursor: pointer;
    margin: 20px;
}
.btn-create:hover{
    border: 2px solid #000000;
    color: #ffffff;
    font-size: 20px;
}
