.form-group{
    display: flex;
    margin: 15px;
    align-items: center;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    position: relative;
}
.label{
    font-size: 15px;
    text-align: center;
    text-transform: none;
    color: #32435f
}
.form-control{
    text-align: center;
    width: 220px;
    height: 40px;
    border-radius: 5px;
}
.falseValid{
    border-color: red;
}
.trueValid{
    border-color: blue;
}